@import "@fontsource/outfit/300.css";
@import "@fontsource/outfit/400.css";
@import "@fontsource/outfit/500.css";
@import "@fontsource/outfit/600.css";
@import "@fontsource/outfit/700.css";
@import "@fontsource/outfit/800.css";

* {
  font-family: "Outfit", "Inter", system-ui, sans-serif;
  box-sizing: border-box;
}
